<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My Website </title>
</head>
<body>
<h1> Hello World </h1>
<h2> Welcome to my Website {{name}}</h2>
<a href = "/addstudent">Click here to add Student</a><br>

<a href = "/add_department">Click here to add Department</a><br>

<a href = "/add_hod">Click here to add HOD's Details</a><br>

<a href = "/read_student_details">Click here to View all Student Data</a><br>
<a href = "/read_dept_details">Click here to View all Department Data</a><br>
<a href = "/read_hod_details">Click here to View all HOD Data</a><br>
</body>
</html>